<div class="container">
  <h2>Ours Topic</h2>
  <br>
  <div class="media">
    <div class="media-left media-top">
      <img src="assets/java.png" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Java Programing</h4>
      <p>Java is a high-level programming language originally developed by Sun Microsystems and released in 1995.</p>
      <p>Java runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX.</p>
      <p>This tutorial gives a complete understanding of Java.</p>
    </div>
  </div>
  <hr>
  <div class="media">
    <div class="media-left media-middle">
      <img src="assets/C.png" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">C, C++,C# Programing</h4>
      <p>C is a powerful system programming language, and C++ is an excellent general purpose programming language with modern bells and whistles.</p>
      <p>C# is a simple, modern, general-purpose, object-oriented programming language developed by Microsoft within its .NET initiative led by Anders Hejlsberg</p>
    </div>
  </div>
  <hr>
  <div class="media">
    <div class="media-left media-bottom">
      <img src="assets/db.jpg" class="media-object" style="width:100px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Database Programing</h4>
      <p>A database is a repository of information managed by a database engine which ensures integrity of data and fast access to the data.</p>
    </div>
  </div>
</div>